<h1><strong>Title:</strong> <%= @movie.title %></h1>
<h5><%= link_to "Go Back", movies_path %></h5>

<%= link_to edit_movie_url do %>
  <h5>(edit!)</h5>
<% end %>

<hr>
<p><strong>Director:</strong> <%= @movie.director %></p><br>
<p><strong>Runtime (m):</strong> <%= @movie.runtime_in_minutes %></p><br>
<div style="width: 500px" >
  <p><strong>Description:</strong> <%= @movie.description %></p><br>
</div>
<p><strong>Released on:</strong> <%= @movie.release_date %></p><br>
<p>
    <strong>Average rating:</strong>
    <%= @movie.reviews.average(:rating_out_of_ten).to_f.round(2) %>
</p>
<img src="<%= @movie.poster_image_url %>" width="400">
<hr>

<h2>Reviews:</h2>
<% @movie.reviews.each do |r| %>
  <div>
    <p>Rating: <%= r.rating_out_of_ten %></p>
    <p><%= r.text %></p>
    <p><small>by: <%= r.user.firstname %> <%= r.user.lastname %></small></p>
  </div>
<% end %>
<hr>

<%= link_to new_movie_review_path(@movie) do %>
  <h3>Write a review!</h3>
<% end %>
