<!DOCTYPE html>
<html>
  <head>
    <title>RottenMangoes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.alert %>
      <div style="font-size: 2em; outline: 3px red solid; display:inline-block">
        Something went wrong: <%= flash.alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
